<div class="col-sm-8 col-sm-offset-1 col-md-8 col-md-offset-1 main">
    <div class="page-header clearfix">
        <h3 class="pull-left">My Menu</h3>
        <div class="col-xs-3 pull-right">
            <input class="form-control input-sm search-form" ng-model="searchText" placeholder="Search">
        </div>
    </div>
    <div class="table-responsive">
            <table id="searchTextResults" class="table table-striped">
                <thead>
                    <tr>
                    <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
                    <th><a href="" ng-click="predicate = 'description'; reverse=!reverse">Description</a></th>
                    <th><a href="" ng-click="predicate = 'category'; reverse=!reverse">Category</a></th>
                    <th><a href="" ng-click="predicate = 'price'; reverse=!reverse">Price</a></th>
                    <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,item) in menuItemsArray | orderBy:predicate:reverse | filter:searchText">
                        <td>{{item.title}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.category}}</td>
                        <td>${{item.price | number:2}}</td>
                        <td><button class="btn btn-sm btn-danger" ng-click="deleteItem(key)">delete</button></td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>

<div class="col-sm-3 add-menu-item-block">
    <h3>Add Menu Item</h3>
    <form name="menuForm">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="menuItem.title" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea class="form-control" type="text" rows="8" ng-model="menuItem.description" placeholder="Description"></textarea>
        </div>
        <div class="form-group input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li ng-repeat="categ in categories"><a href="" ng-click="menuItem.category = categ.name">{{categ.name}}</a></li>
                </ul>
            </div>
            <input class="form-control" type="text" ng-model="menuItem.category" placeholder="Category">
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">$</span>
            <input class="form-control" type="number" ng-model="menuItem.price" placeholder="Price">
        </div>
    </form>
    <p><a class="btn btn-success" ng-href="" ng-click="addItem()">Add New Item</a></p>
</div>
